<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ReadRift</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/principal']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista-books']">Libros disponibles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/newbook']">Subir libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/misbooks']">Mis libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/misreview']">Mis reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/exchange']">Solicitudes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">Mi cuenta</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" [routerLink]="['/admin-dashboard']">Admin Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isSuperAdmin()">
          <a class="nav-link" [routerLink]="['/super-admin-dashboard']">Super Admin Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isNormalUser()">
          <a class="nav-link" [routerLink]="['/request-admin']">Solicitar ser Admin</a>
        </li>
      </ul>
    </div>
  </nav>
  