
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 0.5rem;
    }
  
    footer .p-3 {
      padding: 1rem;
    }
  }
  