
.formulario-libro {
    background-color: #f8f9fa;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;  
  }
  
  .formulario-libro h2 {
    text-align: center;
    color: #343a40;  
  }
  
  .formulario-libro input[type="text"],
  .formulario-libro input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .formulario-libro button {
    width: 100%;
    background-color: #343a40;  
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .formulario-libro button:hover {
    background-color: #495057;  
  }
  