.exchange-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .exchange-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .exchange-details p {
    margin: 0;
  }
  
  .exchange-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 1%;
  }
  
  .approve-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .approve-btn:hover {
    background-color: #45a049;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .cancel-btn:hover {
    background-color: #e53935;
  }
  