<div class="exchange-container">
    <h2>Mis Intercambios</h2>
    <div *ngIf="exchanges.length > 0">
      <ul>
        <li *ngFor="let exchange of exchanges">
          <strong>Donor ID:</strong> {{exchange.bookId}} <br>
          <strong>Borrower ID:</strong> {{exchange.borrowerId}} <br>
          <strong>Libro ID:</strong> {{exchange.donorId}} <br>
          <strong>Status:</strong> {{exchange.status}} <br><br>
        <div *ngIf="exchange.status === 'PENDING'">
          <button (click)="approveExchange(exchange.id!)">Aceptar</button>
          <button (click)="cancelExchange(exchange.id!)">Rechazar</button>
        </div>
        </li>
      </ul>
    </div>
    <div *ngIf="exchanges.length === 0">
      <p>No tienes intercambios todavía.</p>
    </div>
  </div>
  