<h2>Lista de libros disponibles</h2>

<div class="search-container">
  <form (ngSubmit)="buscarLibros()">
    <input type="text" [(ngModel)]="searchTitle" name="title" placeholder="Título" />
    <input type="text" [(ngModel)]="searchAuthor" name="author" placeholder="Autor" />
    <input type="text" [(ngModel)]="searchIsbn" name="isbn" placeholder="ISBN" />
    <button type="submit">Buscar</button>
  </form>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Autor</th>
      <th>Titulo</th>
      <th>Condición</th>
      <th>ISBN</th>
      <th>Foto</th>
      <th>Detalles</th>
      <th>Comentario</th>
      <th>Ver libro</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.author }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.condition }}</td>
      <td>{{ book.isbn }}</td>
      <td><img [src]="book.url_image" alt="Book image" style="width:100px;height:auto;"></td>
      <td><button [routerLink]="['/book', book.id]">Ver Detalles </button></td>
      <td><button type="button" (click)= "comentario( book.id! )" >Crear reseña</button></td>
      <td><button *ngIf="!book.requested" (click)="reservarLibro(book.id!, book.ownerId!)">Reservar Libro</button>
        <span *ngIf="book.requested">Solicitud hecha</span>
      </td>
    </tr>
  </tbody>
</table>
