<h2>Lista de libros disponibles</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Autor</th>
      <th>Titulo</th>
      <th>Condicion</th>
      <th>ISBN</th>
      <th>Foto</th>
      <th>Comentario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.author }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.condition }}</td>
      <td>{{ book.isbn }}</td>
      <td><img [src]="book.url_image" alt="Book image" style="width:100px;height:auto;"></td>
      <td><button type="button" (click)= "comentario( book.id! )" >Crear reseña</button></td>


    </tr>
  </tbody>
</table>
