/* Estilos generales para la tabla */
.table {
    width: 80%;  /* Define el ancho de la tabla como el 80% del contenedor */
    max-width: 800px;  /* Define un ancho máximo para evitar que la tabla sea demasiado grande */
    margin: 20px auto;  /* Centra la tabla horizontalmente y añade espacio en la parte superior */
    border-collapse: collapse;  /* Asegura que los bordes de las celdas estén juntos */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);  /* Sombra ligera para un efecto elevado */
  }
  
  .table th,
  .table td {
    text-align: left;  /* Alineación de texto a la izquierda */
    padding: 8px;  /* Espaciado dentro de las celdas */
    border-bottom: 1px solid #ddd; /* Línea divisoria sutil entre filas */
  }
  
  /* Estilos para el encabezado de la tabla */
  .table-dark {
    background-color: #343a40;  /* Fondo oscuro para el encabezado */
    color: white;  /* Texto blanco para contraste */
  }
  
  /* Alternar colores de fondo para las filas para mejorar la legibilidad */
  .table-striped tr:nth-child(odd) {
    background-color: #f8f9fa;  /* Color claro para filas impares */
  }
  
  .table-striped tr:nth-child(even) {
    background-color: #e9ecef;  /* Color un poco más oscuro para filas pares */
  }
  
  /* Estilos para las imágenes dentro de la tabla */
  .table img {
    width: 100px;  /* Fija el ancho de las imágenes */
    height: auto;  /* Altura automática para mantener la proporción */
    border-radius: 5px;  /* Bordes redondeados para las imágenes */
  }
  
  /* Estilos adicionales para mejorar la visualización */
  .table th {
    position: sticky;  /* Hace que el encabezado sea pegajoso */
    top: 0;  /* Fija el encabezado en la parte superior al desplazar */
    z-index: 10;  /* Asegura que el encabezado esté sobre otros elementos */
    color: black;
  }
  h2 {
    text-align: center;
  }
  