<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la Biblioteca Online</title>
</head>
<body>
    <main>
        <section id="home" class="welcome-section">
            <h2>Bienvenido a nuestro lugar de prestamos de libros</h2>
            <p>Descubre un mundo de conocimiento y entretenimiento a tu alcance.</p>

            <div class="button-group">
               <button type="button" [routerLink]="['/register']">Registrarse</button>
                <button type="button" [routerLink]="['/login']">Iniciar sesion</button>
             </div>
         </section>
    </main>

</body>
</html>
