<div class="user-details-container" *ngIf="user">
    <h2>User Details</h2>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Nombre:</strong> {{ user.firstname }}</p>
    <p><strong>Apellido:</strong> {{ user.lastname}}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <button (click)="requestAdmin()">Solicitar ser Admin</button>
    <button (click)="logOut()">Cerrar sesión</button>
</div>
  
  <div class="loading-message" *ngIf="!user">
    <p>Loading user details...</p>
  </div>
  